$dark-color: #0B0D17;
$white-primary: #fff;
$white-secondary: #D0D6F9;

.main_container {
  display: flex;
  height: 100%;
  gap: 91px;
  justify-content: center;
  align-items: center;
  color: $white-primary;
  padding: 0 4rem;

  .main_content {
    position: relative;
    display: inline-block;
    height: 100%;
    max-width: 488px;

    .office {
      font-family: Bellefair;
      font-weight: 400;
      font-size: 2rem;
      mix-blend-mode: normal;
      opacity: 0.25;
      margin-bottom: 0.5rem;
    }

    p {
      font-family: 'Barlow';
      font-size: 18px;
      font-weight: 400;
      width: auto;
      color: $white-secondary;
      margin-top: 0.5rem;
    }

    .listPerson { 
      position: absolute;
      top: 120%;
      transform: translateY(-120%);
      display: flex;
      list-style: none;
      gap: 1rem;

      .list {
        cursor: pointer;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.17;

        &:hover {
          background: #FFFFFF;
          mix-blend-mode: normal;
          opacity: 0.5;
        }

        &_selected {
          background: #FFF;
          cursor: pointer;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #FFFFFF;
        }
      }
    }
  }

  section {
    position: relative;
    max-width: 500px;
    width: 100%;
    display: inline-block;
    align-self: center;
  }

}

@media screen and (max-width: 950px) {
  .main_container {
    flex-direction: column;

    .main_content {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-top: 2rem;

      .office {
        font-size: 1.5rem;
      }

      .listPerson {
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main_container {
    margin-top: 1.5rem;
    flex-direction: column-reverse;
    gap: 70px;

    .main_content {
      margin-top: 3rem;

      .listPerson {
        top: -25%;
      }
    }
  }
}