.header_content {
  color: white;
  padding: 1rem 0;
  margin-bottom: 2rem;

  .burguer {
    position: relative;
    transform: translateY(-200%);
    margin-top: 20px;
    right: 0;
    display: none;

    &_active {
      display: none;
    }
  }
  
  svg {
    margin: 0 1.5rem;
  }

  .navbar {
    border-top-left-radius: 2.2rem;
    border-bottom-left-radius: 2.2rem;
    width: 55%;
    height: 100%;
    padding-left: 6rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);

    &::before {
      content: '';
      position: absolute;
      width: 65%;
      left: -58.5%;
      top: 50%;
      transform: translate(-15%, -50%);
      height: 1px;
      background-color: rgba(128, 128, 128, 0.425);
    }
  }

  @media screen and (max-width: 1115px) {
    .navbar {
      &::before {
        left: -55%;
        width: 60%;
      }
    }
    
    @media screen and (max-width: 960px) {
      .navbar {
        width: 60%;
  
        &::before {
          left: -42%;
          width: 45%;
        }
      }

        @media screen and (max-width: 885px) {
          .navbar {
            width: 65%;

            &::before {
              left: -32%;
              width: 32%;
            }
          }
          
          @media screen and (max-width: 815px) {
            .navbar {
              width: 70%;

              &::before {
                left: -22%;
                width: 22%;
              }
            }
    
            @media screen and (max-width: 758px) {
              .navbar {
                width: 75%;

                &::before {
                  left: -14%;
                  width: 12%;
                }
              }

              @media screen and (max-width: 690px) {
                .navbar::before {
                    width: 0;
                }
              }
            }
          }
        } 
    }
  }


  .navbarList {
    list-style: none;
    height: 100%;
    display: flex;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 140px;
      border-bottom: 3px solid transparent;
      transition: background-color 0.2s linear;

      @keyframes borderAnimation {
        from {
          border-bottom: 3px solid rgba(255, 255, 255, 0);
        }
        
        to {
          border-bottom: 3px solid white;
        }
      }

      &.active {
        animation-name: borderAnimation;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }

      &:hover {
        background-color: rgba(128, 128, 128, 0.233);
        backdrop-filter: blur(1rem);
      }
    }

    li a {
      width: 100%;
      padding: 1.6rem 0;
      // height: 100%;
      text-align: center;
      font-size: 1rem;
      // line-height: 4rem;
    }

    li span {
      display: inline-block;
      margin-right: 0.3rem;
      font-weight: bold;
      color: white;
    }

    @media screen and (max-width: 690px) {
      .navbarList li {
        border-bottom: none;
        border-left: 3px solid transparent;
        transition: background-color 0.2s linear;
  
        @keyframes borderAnimation {
          from {
            border-left: 3px solid rgba(255, 255, 255, 0);
          }
          
          to {
            border-left: 3px solid white;
          }
        }
  
        &.active {
          animation-name: borderAnimation;
          animation-duration: 0.5s;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}