@import './Header.module.scss';

$dark-color: #0B0D17;
$white-primary: #fff;
$white-secondary: #D0D6F9;

.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0rem 6rem;
  margin: 8rem 0 6rem;

  color: white;

  .article_content {
    height: 382px;
    display: flex;
    // background-color: rgba(128, 128, 128, 0.336);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0.5rem 2rem 0.5rem 0;


    h2 {
      align-self: flex-start;
      font-size: 28px;
      font-family: 'Barlow Condensed', sans-serif;
      letter-spacing: 4.72px;
      font-weight: 400;
      text-align: center;
      color: $white-secondary;
    }

    h1 {
      font-size: 150px;
      font-family: Bellefair;
      font-weight: 400;
      margin: 1.5rem 0;
      letter-spacing: 0.2rem;
    }

    
    p {
      font-family: Barlow;
      font-weight: 400;
      color: $white-secondary;
      font-size: 18px;
      text-align: justify;
    }

    @media screen and (max-width: 1025px) {
      h1 {
        font-size: 6rem;
      }

      @media screen and (max-width: 930px) {
        h1 {
          font-size: 5.5rem;
        }

        @media screen and (max-width: 847px) {
          h1 {
            font-size: 5.0rem;
          }
  
          h2 {
            font-size: 2.0rem;
          }
        }
      }
    }

  }

  
  .explore {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bellefair;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background-color: white;
    color: black;
    align-self: flex-end;

    .overOval {
      position: absolute;
      cursor: pointer;
      width: 450px;
      height: 450px;
      border-radius: 50%;
      background: #fff;
      mix-blend-mode: normal;
      transform: scale(0.0);
      opacity: 0.1;
    }
    
    &:hover .overOval {
      transition: opacity, transform 0.2s ease;
      transform: scale(1);
      opacity: 0.1;
    }
  

    span {
      display: inline-block;
      font-weight: 300;
    }

    @media screen and (max-width: 550px) {
      width: 250px;
      height: 250px;

      .overOval {
        width: 400px;
        height: 400px;
      }

      @media screen and (max-width: 445px) {
        width: 226px;
        height: 226px;

         .overOval {
        width: 376px;
        height: 376px;
      }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .main_content {
    flex-direction: column;
    margin-top: 4rem;
    gap: 5rem;

    .article_content {
      padding: 0;
      width: 100%;

      h2 {
        align-self: center;
      }
    }

    .explore {
      align-self: center;
    }
  }
}
