$dark-color: #0B0D17;
$white-primary: #fff;
$white-secondary: #D0D6F9;

.main_container {
  display: flex;
  color: #FFF;

  .main_content {
    display: flex;
    // margin-top: ;
    margin-left: 8rem;
    gap: 2rem;
    width: 65%;

    .rocket_list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      gap: 2rem;

      li {
        position: relative;
        width: 80px;
        height: 80px;
        border: 1px solid #474950;
        border-radius: 50%;
        cursor: pointer;

        .rocket_number {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          color: #FFF;
          font-size: 2rem;
          font-family: 'Bellefair';
        }

        &:hover {
          border-color: #FFF;
        }

        &.selected {
          background-color: #FFF;
          border: none;
          
          .rocket_number {
            color: #000;
          }
        }
      }
    }

    .section_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 470px;
      // height: 303px;

      h3 {
        font-size: 1rem;
        font-family: 'Barlow Condensed';
        letter-spacing: 2.7px;
        color: $white-secondary;
        margin-bottom: 0.5rem;
      }

      p {
        margin-top: 1rem;
        width: 444px;
        font-size: 1.2rem;
        font-family: 'Barlow';
        color: $white-secondary;
      }
    }
  }
}